.overlay{
    position: fixed;
    width: 100%; 
    height: 100%; 
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.5); 
    z-index: 10; 
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}
.form-create{
    position: absolute;
    width: 60%;
    height:80%;
    background-color: white;
    border-radius: 10px;
}
.wrap-input{
    padding: 30px 20px;
}
.create-input{
    border: n;
}