tr{
    line-height: 0 !important;
}
th{
    color: black;
}
td{
    text-align: center;
    line-height: 50px;
    color:black;
}
th,td{
    padding: 15px !important;
}
.btn-function{
    padding: 0 ;
}