.dining a{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    cursor: pointer;
}
.dining a img{
    max-width: 70%;
    max-height: 70%;
    object-fit: cover;
}
.dining a p{
    font-size: 18px;
    font-weight: 700;
}
.dining-inner{
    position: absolute;
    background: black;
    opacity: 0;
    width: 100%;
    height: 100%;
    z-index: 2;
    border-radius:10px ; 
    transition: 0.2s ease-in; 
}
.dining:hover .dining-inner{
    opacity: 0.05;
}
.using{
    position: absolute;
    border: 1px solid red;
    top: 50%;
    left:50%;
    transform: tr;
}