.dining{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.dining img{
    max-width: 70%;
    max-height: 70%;
    object-fit: cover;
}
.dining p{
    font-size: 18px;
    font-weight: 700;
}
.dining div{
    position: absolute;
    background: black;
    opacity: 0.1;
    width: 100%;
    height: 100%;
    z-index: 2;
    border-radius:10px ;
}