.dining{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.dining img{
    max-width: 70%;
    max-height: 70%;
    object-fit: cover;
}
.dining p{
    font-size: 15px;
}